[submodule "code/extern/glm"]
	path = code/extern/glm
	url = https://github.com/g-truc/glm.git
[submodule "code/extern/glfw"]
	path = code/extern/glfw
	url = https://github.com/glfw/glfw.git
[submodule "code/extern/tinygltf"]
	path = code/extern/tinygltf
	url = https://github.com/syoyo/tinygltf.git
[submodule "code/extern/glText"]
	path = code/extern/glText
	url = https://github.com/vallentin/glText.git
